<a href="https://colab.research.google.com/github/irullah/prosaindata/blob/main/crawling_twitter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install snscrape

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: snscrape in /usr/local/lib/python3.8/dist-packages (0.6.0.20230303)
Requirement already satisfied: requests[socks] in /usr/local/lib/python3.8/dist-packages (from snscrape) (2.25.1)
Requirement already satisfied: pytz in /usr/local/lib/python3.8/dist-packages (from snscrape) (2022.7.1)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.8/dist-packages (from snscrape) (4.6.3)
Requirement already satisfied: filelock in /usr/local/lib/python3.8/dist-packages (from snscrape) (3.9.0)
Requirement already satisfied: lxml in /usr/local/lib/python3.8/dist-packages (from snscrape) (4.9.2)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests[socks]->snscrape) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests[socks]->snscrape) (1.26.14)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests[socks]->snscrape) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests[socks]->snscrape) (2022.12.7)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.8/dist-packages (from requests[socks]->snscrape) (1.7.1)

In [10]:
import pandas as pd
import snscrape.modules.twitter as sntwitter

# Parameter pencarian
keyword = "Ridwan kamil"
max_tweets = 500

# Wadah menyimpan tweet
tweets_list = []

# Run pencarian tweet
for i, tweet in enumerate(sntwitter.TwitterSearchScraper(keyword + " lang:id since:2021-01-01 until:2022-01-01").get_items()):
    if i > max_tweets:
        break
    tweets_list.append([tweet.username, tweet.content])

<ipython-input-10-5de7d7baef93>:15: DeprecatedFeatureWarning: username is deprecated, use user.username instead
  tweets_list.append([tweet.username, tweet.content])
<ipython-input-10-5de7d7baef93>:15: DeprecatedFeatureWarning: content is deprecated, use rawContent instead
  tweets_list.append([tweet.username, tweet.content])

In [11]:
df = pd.DataFrame(tweets_list, columns=["username", "tweet"])

In [12]:
df.head()

        username                                              tweet
0       kkibang_  @sukasakaa @punkostrad Gubernur jabar tuh ridw...
1     YusufGayo8  @ridwankamil @aheryawan Alhamdulillah semoga m...
2  AriefSuwandii  @KuliProyek_Id @arzhooargha @RonaldLampard8 @r...
3  AriefSuwandii  @KADRUNESIAN @adamibrahim02 @tempodotco Emang ...
4     BangJun_93  @Tdarwinscilala1 @trouble_bee @KuliProyek_Id @...

In [13]:
df.tail()

           username                                              tweet
496  bocorantogelHK  Kemarin, Presiden bertemu Gus Yahya sampai dek...
497        Bowo1116  @themaiiamey @Diyahsiron17 @JabarQuick @ridwan...
498     lagvifadil7     @themaiiamey Cc. Pak @ridwankamil  tulung pak.
499         AfiikaZ  Jawa Barat Provinsi Paling Inovatif di 2021 ht...
500         AfiikaZ  KALEIDOSKOP 2021: Pembenahan Infrastruktur di ...

In [14]:
df.to_csv("ridwankamil.csv", index=False)

In [15]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [16]:
import shutil

In [17]:
file_output = "/content/ridwankamil.csv"
gdrive_link = "/content/drive/MyDrive/prosaindata/tugas_1/"
shutil.move(file_output, gdrive_link)

'/content/drive/MyDrive/prosaindata/tugas_1/ridwankamil.csv'